<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>${{@@title}}$ | ${{main.title}}$ - Zoey the dog</title>

    <meta name="description" content="${{@@slug.description}}$">
    <meta name="keywords" content="${{@@slug.keywords}}$">

    <meta property="og:title" content="${{@@title}}$ | ${{main.title}}$ - CDPQ" />
    <meta property="og:description" content="${{@@slug.description}}$" />

    <base href="../">

    <link rel="icon" type="image/x-icon" href="@@webRoot/favicon.ico">

    <link rel="stylesheet" href="@@webRoot/css/vendors/all.min.css">
    <link rel="stylesheet" href="@@webRoot/css/style.min.css">

    <script type="text/javascript" src="@@webRoot/js/vendors/all.min.js"></script>
    <script type="text/javascript" src="@@webRoot/js/main.min.js" defer></script>
</head>
