<div class="content">
    <h2>My Favorite Moments</h2>
    <p>
        Here are some of my favorite moments, captured in pictures. From chasing squirrels to cozy naps, these are the
        times that make my tail wag!
    </p>

    <div class="slick">
        <img src="/images/zoey-baby.jpeg" alt="Zoey - When I was just a baby">
        <img src="/images/zoey-forest.jpg" alt="Zoey - In the forest">
        <img src="/images/zoey-snow.jpeg" alt="Zoey - After the snow">
        <img src="/images/zoey-tricks.jpg" alt="Zoey - Doing some tricks">
        <img src="/images/zoey-watching-nature.jpg" alt="Zoey - Watching nature">
        <img src="/images/zoey-and-bella.jpeg" alt="Zoey - And my sister Bella">
        <img src="/images/zoey-black-and-white.jpeg" alt="Zoey - Black and white">
        <img src="/images/zoey-eating-stick.gif" alt="Zoey - Eating a stick">
    </div>
</div>
